/* app */
.app {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background-color: rgba(38, 217, 86, 0.1);
}
/* components */
.footer, .header, .interface {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
/* layout-specific */
.footer, .header {
    flex-direction: row;
}
.footer {
    height: 10%;
    color: #26D956;
}
.header {
    top: 0;
    height: 10%;
    animation-duration: 1s;
    animation-name: pulse;
}
/* interface-specific */
.interface {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
}
.action-container {
    width: 60%;
    min-height: 20%;
    text-align: center;
    color: #26D956;
}
.display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    text-align: center;
    color: #26D956;
}
.picker {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 500px;
    width: 80%;
    max-height: 40%;
}
.picker--alt {
    flex-direction: column;
}

/* button-specific */
.button {
    padding: 0.2rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 6rem;
    height: 2rem;
    background-color: #50D926;
    color: #FBFAF5;
    box-shadow: 0 0 1.5px 1px #50D926;
    border-radius: 3px;
    cursor: pointer;
}
.button--wide {
    height: 2.5rem;
    width: 10rem;
}

/* typography */
/* Google Fonts imports */
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Poppins&display=swap');
/* content-specific */
.content {
    font-family: 'Poppins', sans-serif;
}
.content--action {
    font-size: 1.3rem;
    font-weight: 600;
}
.content--landing {
    font-size: 1.6rem;
    font-weight: 800;
}
.content--btn {
    font-size: 1.3rem;
}
.content--btn--wide {
    font-size: 1.5rem;
    font-weight: 600;
}
/* title-specific */
.heading {
    font-family: 'Concert One', sans-serif;
}
.heading--large {
    font-size: 2.5rem;
    font-weight: 800;
}
.heading--small {
    font-size: 0.9rem;
    font-weight: 800;
}
/* heading-color-change */
#munch {
    color: #50D926;
}
#kin {
    color: #A9D926;
    animation-duration: 1.5s;
    animation-name: pulse;
}
@keyframes pulse {
    0% {
        font-size: 2.5rem;
    }
    75% {
        font-size: 3rem;
    }
    100% {
        font-size: 2.5rem;
    }
}
/* 
* {
    border: 1px solid black;
} */